:root {
  --interact-color: #2e2f42;
  --primary-title-color: #2e2f42;
  --secondary-title-color: #ffffff;
  --primary-text-color: #434455;
  --secondary-text-color: #f4f4fd;
  --accent-color: #4d5ae5;
  --pressed-state-color: #404bbf;
  --first-bgc: #2e2f42;
  --second-bgc: #f4f4fd;
  --customers-color: #8e8f99;
  --regular-gap: 24px;
  --header-gap: 40px;
  --section-padding: 120px;
  --margine-tile: 8px;
  --hero-gradient: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7));
  --cubic-regular: cubic-bezier(0.4, 0, 0.2, 1);
  --box-shadow-cards: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--primary-text-color);

  background-color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.navigation-link.current {
  position: relative;
  color: var(--pressed-state-color);
}

.navigation-link.current::after {
  content: '';
  position: absolute;
  bottom: -1px;
  left: 0;

  width: 100%;
  height: 4px;

  border-radius: 2px;
  background-color: var(--pressed-state-color);
}

.link {
  text-decoration: none;
}

.btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;

  cursor: pointer;
}

.text {
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.title {
  font-weight: 700;
  letter-spacing: 0.02em;
  color: var(--primary-title-color);
}

.heading {
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--primary-title-color);
}

.container {
  max-width: 320px;
  padding-left: 15px;
  padding-right: 16px;
  padding-left: 16px;
  margin: 0 auto;

  /* outline: 1px solid red; */
}

/** --------------------------------HEADER */

.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header > .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navigation {
  display: flex;
  gap: 120px;
  align-items: center;
}

.logo {
  padding-top: 17px;
  padding-bottom: 17px;

  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--accent-color);

  transition: color 250ms var(--cubic-regular);
}

.logo:hover,
.logo:focus {
  color: var(--interact-color);
}

.studio {
  color: var(--interact-color);

  transition: color 250ms var(--cubic-regular);
}

.logo:hover .studio,
.logo:focus .studio {
  color: var(--pressed-state-color);
}

.navigation-list {
  display: none;
}

.navigation-item {
}

.navigation-link {
  display: block;
  padding-top: 24px;
  padding-bottom: 23px;

  line-height: 1.5;

  transition: color 250ms var(--cubic-regular);
}

.navigation-link:hover,
.navigation-link:focus {
  color: var(--pressed-state-color);
}

.contacts-list {
  display: none;
}

.contacts-item {
}

.contacts-link {
  display: block;

  color: var(--primary-text-color);

  transition: color 250ms var(--cubic-regular);
}

.contacts-link:hover,
.contacts-link:focus {
  color: var(--pressed-state-color);
}

.header-burger {
  padding: 0;
  line-height: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.header-icon {
}

.mob-menu {
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100vw;
  height: 100%;
  padding: 72px 24px 40px 16px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 40px;

  background: #fff;
  overflow-y: auto;

  transform: translate(100%);
  transition: transform 450ms var(--cubic-regular);
}

.is-open {
  transform: translate(0);
}

.mob-menu > .modal-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  margin: 0;
  background-color: transparent;
}

.mob-navigation {
}

.mob-navigation-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.mob-navigation-link {
  display: block;
  font-size: 36px;
}

.mob-contacts-list {
  width: 193px;
  margin-bottom: 48px;
}

.mob-contacts-item:not(:last-child) {
  margin-bottom: 24px;
}

.mob-contacts-link {
  display: block;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455;
}

.mob-menu > .team-soc-list {
  gap: 40px;
}

.team-soc-item {
}

.team-soc-link {
}

.team-soc-icon {
}

/** ---------------------------HERO */

.hero {
  max-width: 1440px;
  min-height: calc(100vh - 56px);
  margin: 0 auto;

  padding-top: 72px;
  padding-bottom: 72px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 72px;

  /* text-align: center; */

  background-color: var(--first-bgc);
  background-image: var(--hero-gradient), url(../images/people-office-mob.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media screen and (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: var(--hero-gradient), url(../images/people-office-mob@2x.jpg);
  }
}

.hero-title {
  max-width: 216px;
  /* margin-bottom: 72px; */

  font-size: 36px;
  color: var(--secondary-title-color);
  /* margin-right: auto; */
  /* margin-left: auto; */
}

.hero-title.heading {
  line-height: 1.1;
}

.hero-button {
  min-width: 169px;
  padding: 16px 32px;

  color: var(--secondary-title-color);

  background-color: var(--accent-color);
  border: none;
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);

  outline: transparent;

  transition: background-color 250ms var(--cubic-regular);
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--pressed-state-color);
}

/** ---------------------------------ABOUT */

.about {
  padding-top: 96px;
  padding-bottom: 96px;
}

.about-list {
  display: flex;
  flex-direction: column;

  gap: 72px;
}

.about-item {
  flex-basis: 100%;
}

.about-thumb-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 264px;
  height: 112px;
  margin-bottom: 8px;

  background-color: var(--second-bgc);
}

@media screen and (max-width: 1157px) {
  .about-thumb-icon {
    display: none;
  }
}

.about-icon {
}

.about-title {
  margin-bottom: var(--margine-tile);

  font-size: 36px;
  line-height: 1.1;
  text-align: center;
}

.about-text {
  font-weight: 500;
}

/** ------------------------------------TEAM */

.team {
  padding-top: 96px;
  padding-bottom: 96px;

  background-color: var(--second-bgc);
}

.team > .container {
  max-width: 296px;
}

.team-title {
  margin-bottom: 72px;
  font-size: 36px;
  text-transform: capitalize;
}

.team-list {
  display: flex;
  flex-direction: column;
  gap: 72px;
}

.team-item {
  flex-basis: 100%;

  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background-color: var(--secondary-title-color);
}

.team-item-wrap {
  padding: 32px 16px;
}

.team-item-title {
  margin-bottom: var(--margine-tile);

  font-size: 20px;
  line-height: 1.2;
  text-align: center;
}

.team-item-text {
  margin-bottom: 8px;
  text-align: center;
}

.team-soc-list {
  display: flex;
  gap: 24px;
  justify-content: center;
  align-items: center;
}

.team-soc-item {
  width: 40px;
  height: 40px;
}

.team-soc-link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 50%;
  background-color: var(--accent-color);

  fill: var(--secondary-text-color);

  outline: transparent;

  transition: background-color 250ms var(--cubic-regular);
}

.team-soc-link:hover,
.team-soc-link:focus {
  background-color: var(--pressed-state-color);
}

.team-soc-icon {
}

/** -------------------------------------PORTFOLIO */

.portfolio {
  padding-top: 96px;
  padding-bottom: 96px;
}

.portfolio-list {
  display: flex;
  flex-direction: column;
  gap: 72px;
}

.portfolio-item {
  flex-basis: 100%;
}

.portfolio-link-thumb {
  display: block;

  outline: transparent;
  transition: box-shadow 250ms var(--cubic-regular);
}

.portfolio-link-thumb:hover,
.portfolio-link-thumb:focus {
  box-shadow: var(--box-shadow-cards);
}

.portfolio-overlay {
  position: relative;

  overflow: hidden;
}

.portfolio-wrap-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  transform: translateY(100%);

  transition: transform 250ms var(--cubic-regular);

  padding-top: 40px;
  padding-right: 32px;
  padding-left: 32px;
  background-color: var(--pressed-state-color);
}

.portfolio-link-thumb:hover .portfolio-wrap-text,
.portfolio-link-thumb:focus .portfolio-wrap-text {
  transform: translateY(0);
}

.portfolio-overlay-text {
  color: var(--secondary-text-color);
}

.portfolio-item-wrap {
  padding: 32px 0 32px 16px;

  border: 1px solid #e7e9fc;
  border-top: 0;
}

.portfolio-title {
  margin-bottom: var(--margine-tile);
  font-size: 20px;
  line-height: 1.2;
}

.portfolio-text {
}

/** -----------------------footer */

.footer {
  padding-top: 96px;
  padding-bottom: 96px;

  background-color: var(--first-bgc);
}

.footer > .container {
  display: flex;
  flex-direction: column;
  gap: 72px;
}

.footer-nav {
  text-align: center;
  margin-bottom: 16px;
}

.footer-nav > .logo {
  padding: 0;
  transition: color 250ms var(--cubic-regular);
}

.footer-nav > .logo:hover,
.footer-nav > .logo:focus {
  color: var(--secondary-text-color);
}

.footer-nav .studio {
  color: var(--secondary-text-color);
  transition: color 250ms var(--cubic-regular);
}

.footer-nav .studio:hover,
.footer-nav .studio:focus {
  color: var(--pressed-state-color);
}

.footer-text {
  max-width: 264px;
  color: var(--secondary-text-color);
}

.footer-wrap {
}

.footer-soc-wrap {
  max-width: 208px;
  margin: 0 auto;
}

.footer-soc-wrap > .team-soc-list {
  gap: 16px;
}

.footer-soc-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--secondary-title-color);
  text-align: center;
}

.footer-soc-wrap > .footer-soc-title {
  margin-bottom: 16px;
}

.team-soc-list {
}

.team-soc-link {
  transition: background-color 250ms var(--cubic-regular);
}

.footer-soc-wrap .team-soc-link:hover,
.footer-soc-wrap .team-soc-link:focus {
  background-color: #31d0aa;
}

.team-soc-icon {
}

.footer-subscribe-text {
  display: block;
  margin-bottom: 16px;
}

.footer-subscribe-field {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.footer-subscribe-mail {
  width: 288px;
  height: 40px;
  padding-left: 16px;

  border: 1px solid var(--secondary-title-color);
  border-radius: 4px;

  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: var(--secondary-title-color);

  background-color: transparent;

  outline: transparent;

  transition: background-color 250ms var(--cubic-regular);
}

.footer-subscribe-mail:not(:placeholder-shown):not(:focus):valid {
  background-color: #41ea2376;
}

.footer-subscribe-mail:not(:placeholder-shown):not(:focus):invalid {
  background-color: #ea23236c;
}

.footer-subscribe-mail::placeholder {
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: var(--secondary-title-color);
}

.subscribe-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;

  width: 165px;
  height: 40px;

  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: var(--secondary-title-color);

  border-radius: 4px;
  border-color: transparent;
  background: var(--accent-color);

  cursor: pointer;

  outline: transparent;

  transition: background-color 250ms var(--cubic-regular);
}

.subscribe-btn:hover,
.subscribe-btn:focus {
  background-color: var(--pressed-state-color);
}

.subscribe-icon {
  fill: var(--secondary-title-color);
}

/** --------------MODAL */

.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;

  background-color: rgba(46, 47, 66, 0.4);

  transition: opacity 250ms var(--cubic-regular), visibility 250ms var(--cubic-regular);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  transition: opacity 250ms var(--cubic-regular) 350ms, visibility 250ms var(--cubic-regular) 350ms;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
  transition: transform 350ms var(--cubic-regular);

  width: 288px;
  min-height: 623px;
  padding: 24px 16px;

  border-radius: 4px;
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 1px 1px 0 rgba(0, 0, 0, 0.14);

  background-color: #fcfcfc;

  overflow-y: auto;
}

.backdrop.is-hidden > .modal {
  transform: translate(-50%, -200%);
}

.modal-btn {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 24px;
  height: 24px;
  margin-left: auto;
  margin-right: 8px;
  margin-bottom: 24px;

  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 100%;

  background-color: #e7e9fc;

  cursor: pointer;
}

.modal-btn:active {
  background-color: var(--pressed-state-color);
}

.modal-icon {
  fill: var(--interact-color);
}

.modal-btn:active .modal-icon {
  fill: var(--secondary-title-color);
}

.modal-title {
  margin-bottom: 16px;

  font-size: 16px;
  line-height: 1.5;
  text-align: center;
}

.modal-form {
}

.modal-form-label {
  display: block;
  margin-bottom: 8px;
}

.modal-label-text {
  display: inline-block;
  margin-bottom: 4px;

  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: 0.04em;
  color: var(--customers-color);
}

.modal-form-wrap {
  position: relative;
  display: block;
}

.modal-form-input {
  width: 100%;
  height: 40px;
  padding-left: 38px;

  transition: background-color 250ms var(--cubic-regular);
}

.modal-form-input:not(:placeholder-shown):not(:focus):valid {
  background-color: #1edc1b52;
}

.modal-form-input:not(:placeholder-shown):not(:focus):invalid {
  background-color: #dc4b1b52;
}

.modal-form-styles {
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: 0.04em;
  color: var(--customers-color);

  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;

  outline: transparent;

  transition: border-color 250ms var(--cubic-regular);
}

.modal-form-styles:focus {
  border-color: var(--accent-color);
}

.modal-form-icon {
  position: absolute;
  top: 50%;
  left: 16px;

  transform: translateY(-50%);

  transition: fill 250ms var(--cubic-regular);
}

/* .modal-form-input:focus + .modal-form-icon {
  fill: var(--accent-color);
} */

.modal-form-wrap:focus-within .modal-form-icon {
  fill: var(--accent-color);
}

.modal-form-label.modal-textaria {
  margin-bottom: 16px;
}

.modal-form-comment {
  resize: none;
  width: 100%;
  height: 120px;
  padding: 8px 16px;
}

.modal-form-comment::placeholder {
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: 0.04em;
  color: var(--customers-color);
}

.modal-form-link {
  line-height: 1.33333;
  color: var(--accent-color);
}

.modal-form-field {
  display: flex;

  margin-bottom: 24px;
}

@media screen and (max-width: 767px) {
  .modal-form-field {
    align-items: center;
  }
}

.modal-form-privacy {
}

.modal-thumb-privacy {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;

  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);

  fill: transparent;

  transition: fill 250ms var(--cubic-regular), background-color 250ms var(--cubic-regular),
    border-color 250ms var(--cubic-regular), box-shadow 250ms var(--cubic-regular);
}

.modal-form-privacy:checked + .modal-thumb-privacy {
  fill: var(--secondary-text-color);

  background-color: var(--pressed-state-color);
  border-color: var(--pressed-state-color);
}

/* .modal-form-privacy:focus + .modal-thumb-privacy {
  box-shadow: 0 0 0 0.2em #7ed321;
  border-color: transparent;
} */

.modal-label-text.link-privacy {
  margin-left: 8px;
  margin-bottom: 0;
}

.modal-form-link {
}

.modal-form button[type='submit'] {
  display: block;
  margin: 0 auto;
}

/** ===============================MEDIA===================== */

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    margin: 0 auto;
  }

  .logo {
    padding-top: 24px;
    padding-bottom: 23px;
  }

  .navigation-list {
    display: flex;
    gap: var(--header-gap);
  }

  .contacts-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .contacts-link {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
  }

  .header-burger {
    display: none;
  }

  .hero {
    min-height: calc(100vh - 72px);
    padding-top: 112px;
    padding-bottom: 112px;
    gap: 36px;

    background-image: var(--hero-gradient), url(../images/people-office-tab.jpg);
  }

  @media screen and (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .hero {
      background-image: var(--hero-gradient), url(../images/people-office-tab@2x.jpg);
    }
  }

  .hero-title {
    max-width: 496px;

    font-size: 56px;
  }

  .hero-title.heading {
    line-height: 1.07;
  }

  .about-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 72px 24px;
  }

  .about-item {
    flex-basis: calc((100% - 24px) / 2);
  }

  .team > .container {
    max-width: 584px;
  }

  .team-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 64px var(--regular-gap);
  }

  .team-item {
    flex-basis: calc((100% - var(--regular-gap)) / 2);
  }

  .portfolio-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 72px var(--regular-gap);
  }

  .portfolio-item {
    flex-basis: calc((100% - var(--regular-gap)) / 2);
  }

  .footer > .container {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 72px 24px;

    padding-left: 92px;
  }

  .footer-nav {
    text-align: left;
  }

  .footer-wrap {
    max-width: 264px;
  }

  .footer-soc-wrap {
    margin: 0;
  }

  .footer-soc-title {
    text-align: left;
  }

  .footer-subscribe-field {
    flex-direction: row;
    gap: 24px;
  }

  .footer-subscribe-mail {
    width: 264px;
  }

  .modal {
    width: 408px;
    min-height: 584px;
    padding: 24px;
  }

  .modal-btn {
    margin-right: 0;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;

    margin: 0 auto;
  }

  .navigation {
    gap: 76px;
  }

  .navigation-list {
    display: flex;
    gap: var(--header-gap);
  }

  .contacts-list {
    display: flex;
    flex-direction: row;
    gap: var(--header-gap);
  }

  .contacts-link {
    padding-top: 24px;
    padding-bottom: 23px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }

  .hero {
    min-height: 600px;
    padding-top: 188px;
    padding-bottom: 188px;
    gap: 48px;

    background-image: var(--hero-gradient), url(../images/people-office.jpg);
  }

  @media screen and (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .hero {
      background-image: var(--hero-gradient), url(../images/people-office@2x.jpg);
    }
  }

  .about {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
  }

  .about-list {
    gap: var(--regular-gap);
  }

  .about-item {
    flex-basis: calc((100% - 3 * var(--regular-gap)) / 4);
  }

  .about-title {
    margin-bottom: var(--margine-tile);

    font-size: 20px;
    line-height: 1.2;
    text-align: left;
  }

  .title {
    font-weight: 500;
  }

  .about-text {
    font-weight: 400;
  }

  .team {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
  }

  .team > .container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .team-list {
    gap: var(--regular-gap);
  }

  .team-item {
    flex-basis: calc((100% - 3 * var(--regular-gap)) / 4);
  }

  .portfolio-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 48px var(--regular-gap);
  }

  .portfolio-item {
    flex-basis: calc((100% - 2 * var(--regular-gap)) / 3);
  }

  .footer {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .footer > .container {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0;

    padding-left: 15px;
  }

  .footer-soc-wrap {
    margin-left: 120px;
  }

  .footer-subscribe-wrap {
    margin-left: 80px;
  }
}
